---
import Layout from '../layouts/Layout.astro';

import AboutMe from "../components/AboutMe.astro"
import BriefcaseIcon from '../components/Icons/Briefcase.astro';
import CodeIcon from '../components/Icons/Code.astro';
import Experience from '../components/Experience.astro';
import ProfileCheck from "../components/Icons/ProfileCheck.astro"
import Projects from '../components/Projects.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Hero from "../components/Hero.astro"
import TitleSection from "../components/TitleSection.astro"
---

<Layout
  title="Porfolio de Sergi - Data scientist & Programmer"
  description="Contacta con Sergi para explorar la posibilidad de establecer un convenio con su universidad que permita la realización de prácticas curriculares o extracurriculares."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>
    <div class="space-y-24">
    <SectionContainer id="experiencia">
      <TitleSection>
        <BriefcaseIcon class="size-8" />
        Experiencia laboral
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <TitleSection>
        <CodeIcon class="size-7" />
        Proyectos
      </TitleSection>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <TitleSection>
        <ProfileCheck class="size-8" />
        Sobre mí
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </div>
  </main>
</Layout>